.container
  font-family: Arial, sans-serif
  margin: 20px
  display: flex
  flex-direction: column
  height: 100vh
  box-sizing: border-box

table
  width: 100%
  border-collapse: collapse
  margin-top: 20px

th, td
  border: 1px solid #ddd
  padding: 8px
  text-align: left

th
  background-color: #f4f4f4

input
  margin-bottom: 10px
  padding: 5px
  border: 1px solid #ddd

.pagination-controls
  margin-top: 20px
  display: flex
  justify-content: space-between
  align-items: center

.pagination
  display: flex
  align-items: center

.pagination button
  margin: 0 5px
  padding: 5px 10px
  border: 1px solid #ddd
  background-color: #f4f4f4
  cursor: pointer

.pagination button.current
  background-color: #28a745 /* Green */
  color: white

.items-per-page
  display: flex
  align-items: center

.items-per-page mat-form-field
  margin-left: 10px

button
  margin: 0 5px
  padding: 5px 10px
  border: 1px solid #ddd
  background-color: #f4f4f4
  cursor: pointer

button:disabled
  cursor: not-allowed
  opacity: 0.5

.current
  color: #28a745 /* Green */
  
.pending
  color: #ffc107 /* Yellow */
  
.completed
  color: #6c757d /* Gray */
  
.overdue
  color: #dc3545 /* Red */

.fixed-button
  position: fixed
  bottom: 20px
  right: 20px
  z-index: 1000
